.game-view {
  display: block;
  padding: 1em;
}

.bordered-button {
  outline: 1px solid lightgreen;
}

.target-words-list {
  font-weight: bold;
}

.v-drag-over-target {
  outline: 1px solid lightgreen;
}

.possible-drop-zone{
  opacity: 0.5;
  outline: 1px solid lightgreen;
  color: white
}

.finished-dropped {
  outline: 1px solid black;
}